body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#grid {
  display: grid;
  width: 800px;
  height: 480px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card {
  position: relative;
  color: white;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.price {
  font-weight: bold;
}

canvas {
  width: 100%;
  height: 60%;
}
